<!DOCTYPE html>
<html>
<head>
    <title>Women Techmakers, Manipal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:300|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://use.fontawesome.com/c8f31f7d70.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/parallax.js"></script>


</head>
<body>
<div id="fullpage">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="navItem" href="#s1">Home</a>
        <a class="navItem" href="#s2">About</a>
        <a class="navItem" href="#s5">Gallery</a>
        <a class="navItem" href="#s3">Team</a>
        <a class="navItem" href="#s4">Contact</a>
        <div class="share-icons">
            <li><a href="https://www.facebook.com/GDGManipal/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://meetup.com/GDG-Manipal/" target="_blank"><i class="fa fa-meetup"></i></a></li>
            <li><a href="https://github.com/GDGManipal/WTM" target="_blank"><i class="fa fa-github"></i></a></li>
        </div>

    </div>
    <div id="s1" class="section parallax-window-1">
        <nav>
            <i class="fa fa-bars fa-2x"></i>
            <img src="/images/logo.png" height="40"/>
            <h1 class="logoHeading">Women Techmakers</h1>
            <h3 class="logoSubHeading">Manipal | More Women In Technology</h3>

            <ul>
                <li><a class="navItem" href="#s1">Home</a></li>
                <li><a class="navItem" href="#s2">About</a></li>
                <li><a class="navItem" href="#s5">Gallery</a></li>
                <li><a class="navItem" href="#s3">Team</a></li>
                <li><a class="navItem" href="#s4">Contact</a></li>
                <a href="https://www.facebook.com/GDGManipal/" target="_blank">
                    <i class="fa fa-facebook social-icons"></i>
                </a>
                <a href="https://meetup.com/GDG-Manipal/" target="_blank">
                    <i class="fa fa-meetup social-icons"></i>
                </a>
                <a href="https://github.com/GDGManipal/WTM" target="_blank">
                    <i class="fa fa-github social-icons"></i>
                </a>
            </ul>
        </nav>

        <footer>
            <div class="arrow bounce">
                <a href="#s2"><i class="fa fa-angle-down fa-5x"></i></a>
            </div>
        </footer>
    </div>

    <div id="s2" class="section fp-auto-height">
        <h1 align="center">About Us</h1>

        <div class="text">
            <div class="about-text">
                Women Techmakers, in association with Google Developers Group is aimed at increasing woman participation
                in all spheres of Computer Science and Technology.It's Manipal chapter, Code Czarinas, created with the
                above objective, combines technology with team spirit and hard work.
                At Manipal, our community aims at progressive, community-based learning via long term projects. The
                weekly meet-ups, workshops,talks by speakers and group discussions are vital to strengthening one's
                technical skill-set, gaining exposure to the plethora of technological domains and building connections.
            </div>

            <div class="events">

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="s7" class="section fp-auto-height">
        <h1 align="center">Achievements</h1>
        <div class="text forDesktop">

            <div class="achievement">
                <i class="fa fa-graduation-cap fa-4x achievement-icon"></i>
                <div class="icon-text">
                    We have a Harvard Select
                </div>
            </div>
            <div class="achievement">
                <i class="fa fa-pencil fa-4x achievement-icon"></i>
                <div class="icon-text">
                    Members with research publications in Scopus indexed, Thomson Reuters indexed, DOI indexed journals
                    and Springer journals.
                </div>
            </div>
            <div class="achievement">
                <i class="fa fa-code fa-4x achievement-icon"></i>
                <div class="icon-text">
                    GHCI, GSoC, RGSoC and Outreachy Selects and Scholars.
                </div>
            </div>
            <div class="achievement">
                <i class="fa fa-book fa-4x achievement-icon"></i>
                <div class="icon-text">
                    IISc and IIT research interns.
                </div>
            </div>
            <div class="achievement">
                <i class="fa fa-female fa-4x achievement-icon"></i>
                <div class="icon-text">
                    Interns and SDEs at Microsoft, Goldman Sachs, Sandisk, Cisco, RedHat and Deloitte.
                </div>
            </div>

            <div class="clear"></div>


        </div>
        <div class="text forMobile">
            <div class="event">
                <div class="event-image">
                    <i class="fa fa-graduation-cap fa-4x"></i>
                </div>
                <div class="event-desc">

                    <div class="event-description">
                        Harvard Select
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-image">
                    <i class="fa fa-pencil fa-4x"></i>
                </div>
                <div class="event-desc">

                    <div class="event-description">
                        Members with research publications in Scopus indexed, Thomson Reuters indexed, DOI indexed
                        journals and Springer journals.
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-image">
                    <i class="fa fa-code fa-4x"></i>
                </div>
                <div class="event-desc">

                    <div class="event-description">
                        GHCI, GSoC, RGSoC and Outreachy Selects and Scholars.
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-image">
                    <i class="fa fa-book fa-4x"></i>
                </div>
                <div class="event-desc">

                    <div class="event-description">
                        IISc and IIT research interns.
                    </div>
                </div>
            </div>

            <div class="event">
                <div class="event-image">
                    <i class="fa fa-female fa-4x"></i>
                </div>
                <div class="event-desc">

                    <div class="event-description">
                        Interns and SDEs at Microsoft, Goldman Sachs, Sandisk, Cisco, RedHat and Deloitte.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="s11" class="section parallax-window-2">
        "Never see yourself as a female entrepreneur or a woman in tech. Just think of yourself as someone who's
        passionate." <br><br><br> - <span>Leah Busque </span>
    </div>
    <div class="section fp-auto-height" id="s5">
        <h1 align="center">Gallery</h1>
        <div class="text">
            <div class="slide">
                <img data-src="/images/photos/File1.jpg"/>
                <img data-src="/images/photos/File2.jpg"/>
                <img data-src="/images/photos/File3.jpg"/>
                <img data-src="/images/photos/File4.jpg"/>
                <img data-src="/images/photos/File5.jpg"/>
                <img data-src="/images/photos/File6.jpg"/>
                <img data-src="/images/photos/File7.jpg"/>
                <img data-src="/images/photos/File37.jpeg"/>
                <div class="clear"></div>
            </div>
            <div class="slide">
                <img data-src="/images/photos/File11.jpg"/>
                <img data-src="/images/photos/File12.jpg"/>
                <img data-src="/images/photos/File11.jpg"/>
                <img data-src="/images/photos/File12.jpg"/>
                <img data-src="/images/photos/File13.jpg"/>
                <img data-src="/images/photos/File14.jpg"/>
                <img data-src="/images/photos/File15.jpeg"/>
                <img data-src="/images/photos/File16.jpeg"/>
                <div class="clear"></div>
            </div>
            <div class="slide">
                <img data-src="/images/photos/File17.jpeg"/>
                <img data-src="/images/photos/File18.jpeg"/>
                <img data-src="/images/photos/File19.jpeg"/>
                <img data-src="/images/photos/File20.jpeg"/>
                <img data-src="/images/photos/File21.jpeg"/>
                <img data-src="/images/photos/File22.jpeg"/>
                <img data-src="/images/photos/File23.jpeg"/>
                <img data-src="/images/photos/File24.jpeg"/>
                <div class="clear"></div>
            </div>
            <div class="slide">
                <img data-src="/images/photos/File25.jpeg"/>
                <img data-src="/images/photos/File46.jpeg"/>
                <img data-src="/images/photos/File27.jpeg"/>
                <img data-src="/images/photos/File28.jpeg"/>
                <img data-src="/images/photos/File43.jpeg"/>
                <img data-src="/images/photos/File45.jpeg"/>
                <img data-src="/images/photos/File44.jpeg"/>
                <img data-src="/images/photos/File32.jpeg"/>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="s6" class="section fp-auto-height">
        <iframe src="https://www.youtube.com/embed/PrXarTh77EA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="s3" class="section fp-auto-height">
        <h1 align="center" style="color: #458f77;">Our Team</h1>
        <div class="text">
            We're a group of budding developers, designers, researchers, coders, leaders and
            tech-enthusiasts! WTM Manipal spans college-going undergraduates to graduates.
        </div>
        <div class="team-container"></div>
        <div class="clear"></div>
    </div>
    <div id="s10" class="section parallax-window-3">
        "I learned to always take on things I'd never done before. Growth and comfort do not coexist." <br><br><br> -
        <span>Ginny Rometty, CEO, IBM </span>
    </div>
    <div id="s4" class="section">
        <h1 align="center" style="color: #458f77;">Get In Touch With Us</h1>
        <div class="text">
            We'd love to hear from you! Tell us your story!
        </div>
        <center>
            <form>
                <input id="name" name="name" class="input" type="text" placeholder="Name"/>
                <input id="email" name="email" class="input" type="email" placeholder="Email"/>
                <textarea id="message" name="message" placeholder="Message"></textarea>
                <button class="wtmDefault">SUBMIT</button>
                <div class="message"></div>
            </form>
        </center>
        <footer id="contactFooter">
				<span style="position: absolute; bottom: 22px; left: 35px; color: #666;">
					Made with <i class="fa fa-heart heartbeat animate-infinite-heartbeat"></i> by WTM, Manipal
				</span>
            <img class="footerLogo" style="position:absolute;right:40px;bottom: 15px;"
                 src="https://www.womentechmakers.com/static/images/logo-lockup-white.svg" height="40"/>
        </footer>
    </div>
</div>
</body>

</html>