<!DOCTYPE html>
<html>
<head>
	<title>Women Techmakers, Manipal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:300|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://use.fontawesome.com/c8f31f7d70.js"></script>
</head>
<body>
	<div id="fullpage">
		<div id="s1" class="section">
			<nav>
				
				<img src="/images/logo.png" height="40" />
				<h1 class="logoHeading">Women Techmakers</h1>
				<h3 class="logoSubHeading">Manipal | More women in technology</h3>
				
				<ul>
					<li><a href="#s1">Home</a></li>
					<li><a href="#s2">About</a></li>
					<li><a href="#s5">Gallery</a></li>
					<li><a href="#s3">Team</a></li>
					<li><a href="#s4">Contact</a></li>
					<li><a href="https://www.facebook.com/GDGManipal/" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://meetup.com/GDG-Manipal/" target="_blank"><i class="fa fa-meetup"></i></a></li>
					<li><a href="https://github.com/GDGManipal/WTM" target="_blank"><i class="fa fa-github"></i></a></li>
				</ul>
			</nav>

			
			<footer>
				<div class="arrow bounce">
					<a href="#s2"><i class="fa fa-arrow-down fa-2x"></i></a>
				</div>
			</footer>
		</div>
		<div id="s2" class="section fp-auto-height">
			<h1 align="center">What do we do?</h1>
			<div class="text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				<div class="events">
					
				</div>
			</div>
		</div>
		<div id="s7" class="section">
			<h1 align="center">Achievements</h1>
			<div class="text">

				<div class="achievement">
					<div class="icon">
						<i class="fa fa-graduation-cap fa-4x"></i>
					</div>
					<div class="icon-text">
						Interns at Microsoft, Goldman Sachs, Sandisk,Cisco,RedHat and Deloitte
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-pencil fa-4x"></i>
					</div>
					<div class="icon-text">
						Members with research publications in Scopus Indexed, Thomson Reuters Indexed ,DOI Indexed Journals and Springer Journals.

					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-code fa-4x"></i>
					</div>
					<div class="icon-text">
						GHCI,GSoC,RGSoC and Outreachy scholars
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-book fa-4x"></i>
					</div>
					<div class="icon-text">
						IISc and IIT research interns
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-female fa-4x"></i>
					</div>
					<div class="icon-text">
						Harvard select
					</div>
				</div>
				

				
			</ul>	
		</div>
	</div>
	<div class="section" id="s5">
		<h1 align="center" class="inverted">Gallery</h1>
		<div class="text">
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
		</div>
	</div>
	<div id="s6" class="section fp-auto-height">
		<iframe src="https://www.youtube.com/embed/PrXarTh77EA" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="s3" class="section fp-auto-height">
		<h1 align="center">Our Team</h1>
		<div class="text">
		</div>

	</div>
	<div id="s4" class="section">
		<h1 align="center" class="inverted">Get in touch with us</h1>
		<center>
			<form>
				<input class="input" type="text" placeholder="Name" />
				<input class="input" type="email" placeholder="Email" />
				<textarea placeholder="Message"></textarea>
				<button class="wtmDefault">SUBMIT</button>
			</form>
		</center>
		<footer id="contactFooter">
			<span style="position: absolute;bottom: 20px;color:#FFF;">
			 Made with <i class="fa fa-heart heartbeat animate-infinite-heartbeat"></i> by WTM, Manipal
			 </span>
			<img style="position:absolute;right:120px;bottom: 20px;" src="https://www.womentechmakers.com/static/images/logo-lockup-white.svg" height="40" />
		</footer>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>
</html>