<!DOCTYPE html>
<html>
<head>
	<title>Women Techmakers, Manipal</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:300|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://use.fontawesome.com/c8f31f7d70.js"></script>
</head>
<body>
	<div id="fullpage">
		<div id="s1" class="section">
			<nav>
				
				<img src="/images/logo.png" height="40" />
				<h1 class="logoHeading">Women Techmakers</h1>
				<h3 class="logoSubHeading">Manipal | More women in technology</h3>
				
				<ul>
					<li><a href="#s1">Home</a></li>
					<li><a href="#s2">About</a></li>
					<li><a href="#s5">Gallery</a></li>
					<li><a href="#s3">Team</a></li>
					<li><a href="#s4">Contact</a></li>
					<li><i class="fa fa-facebook"></i></li>
					<li><i class="fa fa-meetup"></i></li>
					<li><i class="fa fa-github"></i></li>
				</ul>
			</nav>

			
			<footer>
				<div class="arrow bounce">
					<a href="#s2"><i class="fa fa-arrow-down fa-2x"></i></a>
				</div>
			</footer>
		</div>
		<div id="s2" class="section">
			<h1 align="center">About Us</h1>
			<div class="text">
				Women Techmakers, in association with Google Developers Group is aimed at increasing woman participation in all spheres of Computer Science and Technology.It's Manipal chapter, Code Czarinas, created with the above objective, combines technology with team spirit and hard work. 
				At Manipal, our community aims at progressive, community-based learning via long term projects. The weekly meet-ups, workshops,talks by speakers and group discussions are vital to  strengthening one's technical skill-set, gaining exposure to the plethora of technological domains and building connections.            
				<div class="events">
					
				</div>
			</div>
		</div>
		<div id="s7" class="section">
			<h1 align="center">Achievements</h1>
			<div class="text">

				<div class="achievement">
					<div class="icon">
						<i class="fa fa-graduation-cap fa-4x"></i>
					</div>
					<div class="icon-text">
						Harvard Select
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-pencil fa-4x"></i>
					</div>
					<div class="icon-text">
						Members with research publications in Scopus indexed, Thomson Reuters indexed, DOI indexed journals and Springer journals.

					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-code fa-4x"></i>
					</div>
					<div class="icon-text">
						GHCI,GSoC,RGSoC and Outreachy Selects and Scholars
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-book fa-4x"></i>
					</div>
					<div class="icon-text">
						IISc and IIT research interns
					</div>
				</div>
				<div class="achievement">
					<div class="icon">
						<i class="fa fa-female fa-4x"></i>
					</div>
					<div class="icon-text">
						Interns and SDEs at Microsoft, Goldman Sachs, Sandisk, Cisco, RedHat and Deloitte
					</div>
				</div>
				

				
			</ul>	
		</div>
	</div>

	<div id='s10' class="section">
	<div class="text">
	"Never see yourself as a female entrepreneur or a woman in tech. Just think of yourself as someone who's passionate." <br>
    - Leah Busque
	</div>
	</div>


	<div class="section" id="s5">
		<h1 align="center" class="inverted">Gallery</h1>
		<div class="text">
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
				<img src="/images/photos/File1.jpeg"/>
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
			<div class="slide">
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
				<img src="/images/photos/File1.jpeg" />
			</div>
		</div>
	</div>
	<div id="s6" class="section fp-auto-height">
		<iframe src="https://www.youtube.com/embed/PrXarTh77EA" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="s3" class="section fp-auto-height">
		<h1 align="center">Our Team</h1>
		<div class="text">
		We're a group of budding developers,designers, researchers,coders, leaders and tech-enthusiasts! WTM Manipal spans college-going undergraduates to graduates. 
		</div>
	</div>
	
	<div id='s9' class="section">
	<div class="text">
	"I learned to always take on things I'd never done before. Growth and comfort do not coexist." <br> - Ginny Rometty, CEO, IBM 
	</div>
	</div>

	<div id="s4" class="section">
		<h1 align="center" class="inverted">Get in touch with us</h1>
		<center>
			<form>
				<input class="input" type="text" placeholder="Name" />
				<input class="input" type="email" placeholder="Email" />
				<textarea placeholder="Message"></textarea>
				<button class="wtmDefault">SUBMIT</button>
			</form>
		</center>
		<footer id="contactFooter">

			<img style="position:absolute;right:120px;bottom: 20px;" src="https://www.womentechmakers.com/static/images/logo-lockup-white.svg" height="40" />
		</footer>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>
</html>