html,body
{
	/*overflow-x: hidden !important;*/
}
*
{
	box-sizing: border-box;
}

#s1
{
	background:url(/images/back.jpeg);

	background-size: cover;


}
a
{
	text-decoration: none;
	color: inherit;
}
/*#3f82eb*/
#s2
{
	padding: 100px;
	background: #0cbda4;
	color: #FFF;
}
#s2 .text
{
	
	padding: 50px 0;

}

#s3,#s5,#s7
{
	padding: 100px;
}
#s3
{
	padding: 100px 0 200px 0;
}
#s3 .text
{
	
	padding: 70px 0 90px 25%;
	font-family: 'Open Sans',sans-serif;
}


#s5
{
	background: #3f82eb;
}
#s5 .text
{
	padding: 110px 0 0 60px;
}
.events
{
	color: #212121;
	margin-top: 50px;
}
#s4
{
	background: #212121;
	padding: 100px;
}

#s2 .text
{
	font-size: 21px;
	font-family: 'Open Sans',sans-serif;
	margin-top: 40px;
	margin:0 auto;
}

#s9
{
	background-image: url('/images/QuoteBg.jpg');
	max-height: 350px;
	height: 100%;
	background-size: cover;
	opacity: 0.7;
	

}

#s9 .text
{
	font-size: 40px;
	opacity: 10;
	font-family: 'Open Sans',sans-serif;


}

#s10
{
	background-image: url('/images/QuoteBg1.jpg');
	max-height: 350px;
	height: 100%;
	background-size: cover;
	
	

}

#s10 .text
{
	font-size: 40px;
	opacity: 10;
	font-family: 'Open Sans',sans-serif;
	color: #ffffff;


}

nav
{
	height: 85px;
	width: 100%;
	padding: 30px;
	background: transparent;
	position: fixed;
	z-index: 999;
}
h1
{
	font-family: 'Open Sans',sans-serif;
	padding: 0;
	margin: 0;
}
.logoHeading
{
	font-family: 'Open Sans',sans-serif;
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	top: 25px;
	left: 90px;
	color:#9E9E9E;

}
.logoSubHeading
{
	position: absolute;
	top: 39px;
	left: 92px;
	font-size: 13px;
	font-family: 'Open Sans',sans-serif;
}
nav ul
{
	list-style-type: none;
	float: right;
	position: relative;
	bottom: 10px;
	padding: 0px;

}
nav li
{
	display: inline;
	margin-right: 30px;
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
	color:#272727;
	color:#FFF;
	font-weight: 400;

}


.center
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	height: 200px;
	width: 700px;
}
.center img
{
	margin-left:auto;
	margin-right: auto;
	position: relative;
	float:left;
	margin-right: 40px;


}
.center p
{
	color: #9E9E9E;
	font-size: 21px;
	position: relative;
	left:40px;
}
.main
{
	float: left;
	padding: 25px 0;
}


.main h1
{
	color:#FFF;
	text-decoration: underline;
	padding: 2px;
	font-size: 40px;
	font-family: 'Lato',sans-serif;
	letter-spacing: 2.6px;
}

.main h3
{
	text-align: center;
	font-size: 22px;
	color:#FFF;
	padding: 0;
	margin: 0;
	font-family: 'Lato',sans-serif;
}

.wtmDefault
{
	height: 40px;
	background: #0cbda4;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.23);
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	padding: 1em 2.5em;
	text-transform: uppercase;
	-moz-transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-ms-transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-webkit-transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	border:none;
	margin-top: 40px;
}

footer
{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.arrow {
	color:#FFF;
	text-align: center;
	margin: 3% 0;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.inverted
{
	color: #FFF;
}

form
{
	margin-top:100px;
}

.input
{
	display: block;
	width: 360px;
	height: 50px;
	margin-bottom: 14px;
	background: #EEE;
	border: none;
}

form textarea
{
	display: block;
	width: 360px;
	height: 120px;
}

#contactFooter
{
	bottom: 20px;
}


.event
{
	width: 18%;
	height: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;

}

.event-image
{
	width: 100%;
	height: 70%;
	background: #FFF;
}

.event-desc
{
	width: 100%;
	height: 30%;
	background: #E0E0E0;
	padding: 15px;
	text-align: justify;
}
.event-desc h1
{
	text-align: center;
	font-size: 18px;
}
.event-description
{
	font-size: 14px;
}

.team
{
	width: 18%;
	height: 250px;
	margin-right: 50px;
	float: left;
	

}
.team-member
{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

iframe
{
	width: 100%;
	height: 700px;
}

.team-image
{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.team-desc
{
	text-align: center;
}
.team-desc h1
{
	font-size: 18px;
}
.team-desc h3
{
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.team-desc i
{
	margin-top: 10px;
}
.slide img
{
	margin-right: 20px;
	margin-bottom: 20px;
	height: 200px;
}

.achievements
{
	background: #EEE;
	height: 100%;
	float: left;
	width: 30%;
	padding: 100px 20px 0 20px;
	color: #212121;
	font-family: 'Open Sans',sans-serif;
}
#s7 .text
{
	padding-top: 100px;
	padding-left: 140px;
}
#s7 ul
{
	list-style-type: none;
}
#s7 li
{
	display: inline-block;
	font-family: 'Open Sans',sans-serif;
	margin-bottom: 20px;
	font-size: 20px;
}

#s7 i
{
	font-size: 5em;
	float:left;
	margin-right: 30px;
}

.achievement
{
	display: block;
	width: 40%;
	height: 170px;
	float: left;
	margin-right: 60px;
	font-family: 'Open Sans',sans-serif
}
.achievement .icon
{
	float: left;
	width: 25%;
}
.achievement .icon-text
{
	float: left;
	width: 75%;
	padding: 10px;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 15px;
  padding-left: 8px;
  font-family: 'Open Sans',sans-serif;
}
input::-moz-placeholder { /* Firefox 19+ */
	font-size: 15px;
  padding-left: 8px;
  font-family: 'Open Sans',sans-serif;
}
input:-ms-input-placeholder { /* IE 10+ */
	font-size: 15px;
  padding-left: 8px;
  font-family: 'Open Sans',sans-serif;
}
input:-moz-placeholder { /* Firefox 18- */
	font-size: 15px;
  padding-left: 8px;
  font-family: 'Open Sans',sans-serif;
}
textarea
{
	padding-left:8px;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 15px;
	
	font-family: 'Open Sans',sans-serif;
  
}
textarea::-moz-placeholder { /* Firefox 19+ */
	font-size: 15px;
	
	font-family: 'Open Sans',sans-serif;
  
}
textarea:-ms-input-placeholder { /* IE 10+ */
	font-size: 15px;
	
	font-family: 'Open Sans',sans-serif;
  
}
textarea:-moz-placeholder { /* Firefox 18- */
	
	font-size: 15px;
	font-family: 'Open Sans',sans-serif;
  
}

